body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #000428, #004e92);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
h1 {
    font-size: 5rem; /* Increased font size */
    font-family: 'Comfortaa', sans-serif; /* Changed font */
    font-weight: 400; /* Removed bold */
    background: linear-gradient(90deg, rgb(10, 226, 255), teal);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}
p {
    font-size: 1.5rem;
    margin-top: 20px;
}
a {
    color: #00ffff;
    text-decoration: none;
    font-weight: 450;
}
a:hover {
    text-decoration: underline;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
.header {
    display: flex;
    align-items: center; /* Vertikal justering */
    gap: 15px;           /* Avstand mellom logo og tekst */
}

.logo {
    width: 60px; /* Juster størrelse på logoen */
    height: auto;
}
