body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #c7c7c7, #0f0f0f);
    color: #fff;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* sentrer alt vertikalt på siden */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;  /* vertikal justering av logo + h1 */
    gap: 15px;            /* luft mellom logo og tekst */
}

.logo {
    width: 50px;  /* juster størrelse */
    height: auto;
}
